<a href="https://colab.research.google.com/github/dhleesep9/bigdatamlstudy/blob/main/Python20250827.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUIZ: 로또번호 자동 생성기

- 조건1) 1 - 45
- 조건2) 6개
- 조건3) 중복 불가

In [ ]:
import random
balls=[]
while len(balls) != 6:
  a=random.randint(1,46)
  if a not in balls:
    balls.append(a)
print("로또 번호는 {0} 입니다.".format(",".join(map(str, balls))))

로또 번호는 37,14,7,26,19,17 입니다.

함수

사용하는 이유
- 생산성
- 매번 사용하는 코드 재사용

* 파라미터 신경써야함

In [ ]:
def add(a,b):
  return a+b
print("함수의 결과값:",add(3,4))

함수의 결과값: 7

함수 유형 :

In [ ]:
def type1(a,b):#가장 표준이 되는 함수의 유형
  c=a+b
  return c
def type2():#이런 유형들도 존재한다.
  return 1
def type3():#return None 임
  return
def type4(a,b)
  return

**함수 매개변수 기타 사항**

In [ ]:
#매개변수 여러개?
#가변형 매개변수 갯수 마음대로 해라 *리스트 구조로 들어온다
def add(*args):
  a=sum(args)
  return a
add(-1,3,4)

6

In [ ]:
#매개변수 초기값 선언?
def add(a,b,c=0):#끝부터 채워야 한다. (a=0,b,c) 이런 방식 안됨
  sum=0
  sum=a+b+c
  return sum
add(1,2,4)

7

In [ ]:
#참고 : 함수 만들 때 요령
#1단계 : 함수로 구성할 것을 먼저 확인/테스트
#def func(a,b): return 바로 만들지 말고 해당되는 함수의 기능을 먼저 구상을 하고 그 다음 구현

Tip 한꺼번에 들여쓰기 내려쓰기: (블럭처리) Ctrl+"]/[" 사용

In [ ]:
def fact(n):
  if n==1:
    return 1
  return n*fact(n-1)
print(fact(5))

120

In [ ]:
# 1단계: 함수로 구성할 것을 먼저 확인/테스트
num = 4
ans = 1
for i in range(1,num+1):
  ans= ans*i
  print(i,ans)
# 2단계: 함수 문법구조에 맞춰 수정/보완작업
def fact(num):
  ans=1
  for i in range(1,num+1):
    ans*=i
  return ans
#3단계 함수 테스트:
print(fact(4))

1 1
2 2
3 6
4 24
24

In [66]:
def game(n):
  for i in range(1,n+1):
    i=str(i)
    flag=0
    for j in i:
      if j=="3":
        flag=1
        print("박수")
    if flag==0:
      print(i)
  return
game(33)

1
2
박수
4
5
6
7
8
9
10
11
12
박수
14
15
16
17
18
19
20
21
22
박수
24
25
26
27
28
29
박수
박수
박수
박수
박수